.header {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray-2);
  font-size: var(--font-size-1);
  font-weight: 600;
  padding-bottom: 3rem;
  border-bottom: solid 3px var(--color-brand-2);
}

.header__logo-letter {
  color: var(--color-brand-1);
}

.header__button {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 32px;
  border-radius: 5px;
}

.header__button--dark {
  background-color: var(--color-gray-6);
}
