.filter--price {
  padding: 2rem 0;
}

.filter__container {
  display: flex;
  justify-content: space-between;
}

.filter__label {
  font-size: var(--font-size-3);
  font-weight: 600;
}

.filter__currency,
.filter__value {
  color: var(--color-brand-1);
}
.filter__range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  outline: none;
  background-color: var(--color-brand-1);
  border-radius: 0.5rem;
  height: 0.5rem;
}

.filter__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 0.43rem solid var(--color-brand-1);
}
